.todo-card-container {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    margin-top: 1em;
    box-shadow: 0px 5px 10px gray;
    text-align: center;
}

.todo-card-container > span {
    display: inline-block;
    width: 90%;
}

.todo-card-container > input {
    width: 10%;
    display: inline-block;
}
